# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RubyTextMeshPro.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Workspace\Unity\RubyTextMeshPro\.idea\.idea.RubyTextMeshPro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
